# Python virtual environment
.venv/

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/settings.json
